{% if user.role_keys contains 'partneradmin' or user.role_keys contains 'partnermanager' or user.role_keys contains 'partnerseller' %}
{% include 'Partner Dashboard' %}
{% else %}
<section class="page_section section-landing">
    <div class="council-portal">
        <div class="portal">
            <div class="portal-container">
                <div class="portal-text">
                    <div>
                        <h1>Council</h1>
                        <h3>portal</h3>
                        <p>Your customised portal for the management, concierge, and successful transition of skilled workforces and households into your region.</P>                            
                        <div class="portal-buttons">
                            <button class="btn-1"><h5>Learn More</h5></button>
                            <button class="btn-2"><h5 class="login-btn">Login</h5></button>
                        </div>
                    </div>
                </div>

                <div class="portal-design">
                    <div class="parallelogram11 shadow"></div>

                    <div class="parallelogram12 shadow"></div>

                    <div class="parallelogram13 shadow">
                        <img class="img-big" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram14 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram15 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram16 shadow"></div>

                    <div class="parallelogram17 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="employer-portal">
        <div class="portal">
            <div class="portal-container">
                <div class="portal-text">
                    <div>
                        <h1>Employer</h1>
                        <h3>portal</h3>
                        <p>Your customised employee and business portal for the management and attraction of the skilled employees your business needs.</p>
                            
                        <div class="portal-buttons">
                            <button class="btn-1"><h5>Learn More</h5></button>
                            <button class="btn-2"><h5 class="login-btn">Login</h5></button>
                        </div>
                    </div>
                </div>

                <div class="portal-design">
                    <div class="parallelogram11 shadow"></div>

                    <div class="parallelogram12 shadow"></div>

                    <div class="parallelogram13 shadow">
                        <img class="img-big" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram14 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram15 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>

                    <div class="parallelogram16 shadow"></div>

                    <div class="parallelogram17 shadow">
                        <img class="img-small" src="https://img.bleacherreport.net/img/images/photos/003/871/414/hi-res-6ec62b31f439cd35895e5cc52724d294_crop_north.jpg?1591390851&w=3072&h=2048" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
                <h1 class="section-landing-heading">{% editable snippets 'Home/Title' default: resx['Partner_Default_Title'] %}</h1>
            </div>
        </div>
    </div>
 -->
</section>

<section class="page_section">
    <div class="partners-portal">
        <div class="partners-portal-text">
            <div class="partners-portal-title">
                <h2>How can partners use portal?</h2>
                <button onclick="window.location.href='https://shiftportaldev.powerappsportals.com/partner-program/partner-program-details/';" class="btn-1"><h5>Learn More</h5></button>
            </div>

            <div class="parallelogram1"></div>

            <div class="parallelogram2"></div>

            <div class="parallelogram3"></div>

            <div class="parallelogram4"></div>
        </div>

        <div class="partners-portal-design">
            <div class="img-container">
                <div class="box-1">
                    <ul>
                        <li><p>Engage with job seekers, candidates and families who have expressed and interest in jobs or moving to the region</p></li>
                        <li><p>Market and advertise your region jobs, services, housing, lifestyle and opportunities</p></li>
                        <li><p>Workforce Skills Data current demands, emerging trends, career transition opportunities, and reskilling opportunities and need</p></li>
                        <li><p>Region Campaigns live Data, insights and reports on current and past relocation and employment campaigns</p></li>
                        <li><p>Gain access to up to date data on current skills shortages in your region (this is unchanged)</p></li>
                        <li><p>Online training, customisation and integrating for councils, local businesses and employers</p></li>
                        <li><p>Skills, employment and workforce data collection, management, reporting and insights for better understanding your regions needs now and mthose emerging into the future</p></li>
                    </ul>
                </div>

                <div class="box-2">
                    <div class="inner-box-2"></div>
                </div>
            </div>
        </div>
    </div>

<!-- 
    <div class="container">
        <div class="row prg-dt-home">
            <div class="col-md-12 text_center-mobile">
                <h1 aria-label="{{ snippets['Program Details'] | default: resx['Program_Details'] | h }}">{% editable snippets "Program Details" default: resx["Program_Details"] type: 'text' tag: 'span' %}</h1>
                {% editable page 'adx_copy' %}
                <a href="/partner-program/partner-program-details/" class="btn btn-primary btn-program-details btn-lg-home" title="{{ snippets['Home/ProgramDetailsButton'] | default: resx['View_More'] | h }}">{{ snippets['Home/ProgramDetailsButton'] | default: resx['View_More'] | h }}</a>
            </div>
        </div>
    </div>
 -->
</section>

<section class="page_section">
    <div class="become-partner">
        <div class="become-partner-img">
            <div class="parallelogram21 shadow"></div>

            <div class="parallelogram22 shadow"></div>

            <div class="parallelogram23 shadow"></div>

            <div class="parallelogram24 shadow"><div class="inner-parallelogram24"></div></div>
        </div>

        <div class="become-partner-text">
            <div>
                <h1>Become a partner</h1>
                <p>A Partner is a regional council, employer, property agent, education provider or any community based organisation that can facilitate the successful transition of a person or family shifting to a regional area of Australia.</p>
                <button class="btn-1"><h5>Learn More</h5></button>
            </div>
        </div>
    </div>

<!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-7 text_center-mobile">
                <h1 aria-label="{{ snippets['Become a Partner'] | default: resx['Become_A_Partner'] | h }}">{% editable snippets "Become a Partner" default: resx["Become_A_Partner"] type: 'text' tag: 'span' %}</h1>
                {% editable snippets "Become a Partner Description" %}
                <a href="/partner-program/become-a-partner/" class="btn btn-primary btn-lg-home" title="{{ snippets['Home/BecomeAPartnerButton'] | default: resx['Join_Us'] | h }}">{{ snippets['Home/BecomeAPartnerButton'] | default: resx['Join_Us'] | h }}</a>
            </div>
        </div>
    </div>
 -->
</section>
{% endif %}

<section class="page_section">
    <div class="faq">
        <h1>FAQ</h1>
        <p>Do what needs to be done amigo.</p>
        <button class="btn-1"><h5>Learn More</h5></button>
    </div>

<!-- 
    <div class="section-diagonal-top-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5 text-center">
                <h1 aria-label="{{ snippets['FAQ'] | default: resx['FAQ'] | h }}">{% editable snippets "FAQ" default: resx["FAQ"] type: 'text' tag: 'span' %}</h1>
                {% editable snippets "FAQ Description" %}
                <a href="/partner-program/partner-program-FAQs/" class="btn btn-info-home btn-lg-home" title="{{ snippets['Home/FaqButton'] | default: resx['View_More'] | h }}">{{ snippets['Home/FaqButton'] | default: resx['View_More'] | h }}</a>
                </div>
            </div>
        </div>
    </div>
-->
</section>
