.workforce-header {
    background-color: #212421;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.workforce-header p {
    font-weight: 500;
    padding: 1% 0px;
    font-size: 12px;
}

.divider-vertical {
    box-shadow: inset -1px 0px 0px #E6E6E6;
    width: 1px;
    height: 50px;
    margin: 0px 10px 0px 10px;
}

.navbar {
    position: static;
    border: none;
    margin: 0px;
    box-shadow: 0px 0px 100px rgba(0, 43, 35, 0.1);
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: white !important;
    width: max-content;
    margin-top: 10px;
}


.navbar li .dropdown {
    border-radius: 50px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #212421 !important;
    font-family: Montserrat !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    opacity: 0.75 !important;
    width: 315px !important;
    padding: 20px !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #212421 !important;
    font-weight: 600 !important;
    background-color: #f8f8f8 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #7FC241 !important;
    background-color: white !important;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #7FC241 !important;
    background-color: white !important;
}

.dropdown, .dropdown-toggle {
    box-shadow: 1px 1px 5px #E6E6E6;
    border-radius: 50px;
}

.swift-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}

.navbar-header {
    margin: 10px 0px 0px 50px;
}

.navbar-collapse {
    width: 100%;
    margin-right: 50px;
    margin-top: 25px;
}

.weblinks {
    display: contents;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

h1 {
    font-family: Montserrat;
    font-size: 68px;
    font-weight: 600;
    line-height: 0%;
}

h2 {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    color: white;
}

h3 {
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 200;
    line-height: 200%;
}

p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
}

.portal-buttons {
    margin: 40px 0px;
}

button:focus {
    outline: none;
}

.btn-1{
    padding: 15px 30px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200;
    color: white;
    background-color: #7FC241;
    transform: skew(-20deg);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
}

.btn-2{
    margin: 0px 20px;
    padding: 15px 30px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 200;
    color: black;
    background-color: white;
    transform: skew(-20deg);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid lightgray;
}

h5 {
    transform: skew(20deg);
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}

.login-btn {
    color: black;
}

.council-portal {
    background-color: #E5E5E5;
    padding: 5% 0px;
    box-shadow: 0px 10px 20px rgba(0, 43, 35, 0.4);
}

.employer-portal {
    background-color: #F2F4F4;
    padding: 5% 0px;
}

.portal {
    margin: 0 10%;
}

.portal-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%; /* Instead of: 1fr 1fr 1fr 1fr */
    grid-template-areas:
        "text design"
    ;
}

.portal-text {
    grid-area: text;

    margin: 80px 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.portal-text p {
    line-height: 175%;
}

.portal-buttons {
    display: flex;
}

.portal-design {
    grid-area: design;

    position: relative;
    height: 800px;
    justify-content: center;
    margin: 0px 4%;
}

.parallelogram11 {
    width: 25%;
    height: 100px;
    background: #D0DA47;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    left: -2%;
    top: 40%;
}

.parallelogram12 {
    width: 31.25%;
    height: 150px;
    background: #7FC241;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 0;
    top: 39%;
}

.parallelogram13 {
    grid-area: parallelogram;

    width: 83.75%;
    height: 45%;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    left: 10%;
    top: 4%;

    overflow: hidden;
}

.parallelogram14 {
    width: 18.75%;
    height: 100px;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 0;
    top: 53%;

    overflow: hidden;
}

.parallelogram15 {
    width: 25%;
    height: 125px;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 10%;
    bottom: 10%;

    overflow: hidden;
}

.parallelogram16 {
    width: 15.50%;
    height: 75px;
    background: #056839;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    left: 11%;
    bottom: 15%;
}

.parallelogram17 {
    width: 31.75%;
    height: 150px;
    background: green;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    left: 31%;
    bottom: 24%;

    overflow: hidden;
}

.img-big {
    transform: skew(20deg);
    object-fit: cover;
    max-width: 200%;
    max-height: 200%;
}

.img-small {
    transform: skew(20deg);
    object-fit: cover;
    max-width: 190%;
    max-height: 190%;
}

.shadow {
    box-shadow: 0px 60px 80px rgba(0, 43, 35, 0.4);
}

@media (max-width: 1200px) {
    .portal-container {
        grid-template-columns: 1fr;
        grid-template-areas:
        "text"
        "design"
    ;
    }

    .parallelogram11, .parallelogram12, .parallelogram14, .parallelogram15, .parallelogram16, .parallelogram17 {
        display: none;
    }

    .parallelogram13 {
        height: 55%;
    }
}

@media (max-width: 900px) {
    .portal-design {
        height: 400px;
    }
}


.partners-portal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
}

.partners-portal-text {
    background: #056839;
    position: relative;
    display: flex;
    justify-content: center;
    height: 1000px;
}

.partners-portal-title {
    margin: 7% 35%;
}

.partners-portal-title h2 {
    margin-bottom: 50px;
    line-height: 120%;
}

.partners-portal-design {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.parallelogram1 {
    width: 60px;
    height: 35px;
    background: #7FC241;
    opacity: 0.5;
    transform: skew(-20deg);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

    position: absolute;
    left: 15%;
    bottom: 40%;
}

.parallelogram2 {
    width: 125px;
    height: 75px;
    background: #000000;
    opacity: 0.2;
    transform: skew(-20deg);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

    position: absolute;
    left: 22%;
    bottom: 30%;
}

.parallelogram3 {
    width: 40px;
    height: 30px;
    background: #7FC241;
    transform: skew(-20deg);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

    position: absolute;
    left: 42%;
    bottom: 25%;
}

.img-box {
    width:100%;
    height: 1000px;
    overflow: hidden;
}
.img-container {
    width: 100%;
    height: 1000px;
    background-color: #056839;
    display: flex;
    position: relative;
    overflow: hidden;
}

.box-1 {
    margin: 5% 0px;
    width: 100%;
    height: 1000px;
}

.box-2 {
    width: 40%;
    height: 1000px;
    transform: skew(-10deg);
    position: absolute;
    right: -10%;
    overflow: hidden;
}

.inner-box-2 {
    width: 800px;
    height: 1000px;
    transform: skew(10deg);
    position: absolute;
    background-image: url("https://thesocialexpress.com/wp-content/uploads/2013/04/iStock_000021378213_Large.jpg");
    background-size:cover;
    right: -10%;
}

@media (max-width: 1250px) {
    .partners-portal-text, .partners-portal-design, .img-box, .img-container, .box-1, .box-2 {
        height: 1150px;
    }
}


@media (max-width: 510px) {
    body {
        width: fit-content;
    }

    .box-1 {
        display: flex;
        justify-content: center;
    }

    .box-1 ul {
        margin-top: 0px;
        margin-bottom: 80px;
    }

    .box-2 {
        display: none;
    }

}

.img-new {
    object-fit: cover;
}

ul {
    width: 58%;
    margin-top: 50px;
    list-style-type: '\2713';

}

.box-1 li {
    color: #7FC241;
    margin-bottom: 40px;
}

li p {
    color: white;
    margin-left: 8px;
}

.become-partner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
}

.become-partner-img {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.parallelogram21 {
    width: 12.50%;
    height: 50px;
    background: #056839;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 7%;
    top: 5.5%;
}

.parallelogram22 {
    width: 9.5%;
    height: 40px;
    background: #7FC241;
    opacity: 0.3;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 13%;
    top: 37%;
}

.parallelogram23 {
    width: 31.25%;
    height: 125px;
    background: #D0DA47;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    right: 26%;
    top: 45%;
}

.parallelogram24 {
    width: 87%;
    height: 350px;
    transform: skew(-20deg);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

    position: absolute;
    left: -14%;
    top: 15%;
    overflow: hidden;
}

.inner-parallelogram24 {
    width: 115%;
    height: 350px;
    transform: skew(20deg);

    background-image: url("https://mysominotes.files.wordpress.com/2018/01/start-a-family.jpg");
    background-size: 100%;
}

.become-partner-text{
    margin: 20px 10%;
}

.become-partner-text h1{
    font-size: 48px;
    line-height: 100%;
}

.become-partner-text p {
    line-height: 175%;
    margin: 40px 0px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212421;
    padding: 5% 0px;
}

.faq h1 {
    font-size: 48px;
    color: white;
    line-height: 100%;
}

.faq p {
    color: white;
    margin: 20px 0px 40px 0px;
}

.help-center {
    text-align: center;
    background-color: #F8F8F8;
    padding: 5% 0px;
}

.help-center h1 {
    font-size: 48px;
    line-height: 100%;
}

.help-center p {
    margin-bottom: 80px
}

.help-center-blocks {
    margin: 2% 22%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 20px;
}

.help-block {
    margin: 0px auto;
    width: 300px;
    height: 350px;
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.help-content h1 {
    font-size: 24px;
}

.help-content p {
    height: 55px;
    margin: 10% 0px;
    line-height: 175%;
}

.help-content button {
    margin: 15% 0px 5px 0px;
}

.footer {
    margin: 3% 15%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 40px;
}

.footer-links h1, .footer-content h1 {
    font-size: 24px;
    line-height: 150%;
}

.footer-content p {
    line-height: 175%;
    margin-bottom: 40px;
}

/* The End */


.page-header {
    background-color: red !important;
}

.breadcrumb, container {
    background-color: red !important;
}